<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/common.css">

    <title>ESpor Betting</title>
</head>

<body class="page">

    <div id="root">
        <div class="container">
            <div class="bettingStarted">
                <header class="head__mainbar">
                    <div class="head__mainbar--main">
                        <div class="head__mainbar--main__left">
                            <ul class="head__mainbar--main__left--menulist">
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Anasayfa</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Bülten</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Canlı Maçlar</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Sıralama</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Ödüller</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Yardım</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Blog</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">Forum</a>
                                </li>
                                <li class="head__mainbar--main__left--menulist__item">
                                    <a href="#">İletişim</a>
                                </li>
                            </ul>
                        </div>
                        <div class="head__mainbar--main__right">
                            <ul class="head__mainbar--main__right--signlist">
                                <li class="head__mainbar--main__right--signlist__item">
                                    <a href="#">GİRİŞ YAP</a>
                                </li>
                                <li class="head__mainbar--main__right--signlist__item">
                                    <a href="#">KAYIT OL</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="head__mainbar--sub">
                        <div class="head__mainbar--sub__left">
                            <ul class="head__mainbar--sub__left--menulist">
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">League of Legends</a>
                                </li>
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">CS:Global Offensive</a>
                                </li>
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">PUBG</a>
                                </li>
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">Dota 2</a>
                                </li>
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">Hearthstone</a>
                                </li>
                                <li class="head__mainbar--sub__left--menulist__item">
                                    <a href="">Fortnite</a>
                                </li>
                            </ul>
                        </div>
                        <div class="head__mainbar--sub__right">
                            <ul class="head__mainbar--sub__right--sociallist">
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">F</a>
                                </li>
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">T</a>
                                </li>
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">I</a>
                                </li>
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">S</a>
                                </li>
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">Y</a>
                                </li>
                                <li class="head__mainbar--sub__right--sociallist__item">
                                    <a href="">T</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>