$mainBackgroundColor: #1f2227;
$headMenuSubColor: #282c35;
$headMenuMainColor: #323a45;
$oneColor: #219d45;
$twoColor: #e30613;
$signupColor: #2c303a;
$signinColor: #282c35;
$socialIconColor: #81868c;
$lineColor: #323a45;
$couponBoxBackgroundColor: #282c35;

// Text Color Variables
$couponTextColor: #7f8a9c;
$couponDetailTextColor: #525b6a;
$oneColor: #525b6a;